@using eManager.Domain
@model eManager.Domain.Department

@{
	ViewBag.Title = "Department Details";
}

<h2>@ViewBag.Title</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>

	<p>
		@Html.ActionLink("Back to List", "Index", "Home")
	</p>
</div>

<hr />
<div>
	@Html.ActionLink("Create an Employee", "Create", "Employee", new { departmentId = Model.Id }, null)
	<table>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
			<th></th>
		</tr>
		@foreach (var employee in Model.Employees)
		{
			<tr>
				<td>@employee.Name</td>
				<td></td>
			</tr>
		}
	</table>
</div>